.project {
    width: 70vmin;
    height: 40vmin;
    position: relative;
    display: block;
}
.projectImg {
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.projectImg img {
    width: 100%;
}
.project .overview {
    width: 0%;
    opacity: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 1000;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 10vmin;
    transition: width 0.5s, opacity 0.5s, height 0.5s;
}
.overview p {
    color: white;
}
.overview a {
    color: white;
    width: 20vmax;
    height: 5vmin;
    border: 4px solid #B08BFF;
}
.project .overview h1 {
    color: #FFA06B;
    font-size: 1.5em;
    font-family: bentoga;
}

.myService {
    width: 20vmax;
    height: fit-content;
    text-align: center;
    position: relative;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(7px);
}
.myService div {
    width: 60%;
    margin: 20%;
}
#dropBtn {
    display: none;
}   
#dropBtn div {
    transition: background-color 2s, position 1s;
}
#one {
    width: 2em;
    height: 0.5vh;
    background-color: #CC835B;
}
#two {
    width: 1.5em;
    height: 0.5vh;
    background-color: #8B5437;
}
#three {
    width: 1.8em;
    height: 0.5vh;
    background-color: #42291b;
}
.dropMenu {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.89);
    top: 0;
    backdrop-filter: blur(7px);
    z-index: 1000;
    display: grid;
    grid-auto-flow: grid;
    transition: width 1s, height 1s, opacity 1s, display 1s;
}
.dropMenu img {
    width: 50%;
    margin-left: 25%;
}
.dropMenu a {
    color: white;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
}

.scroller {
    position: fixed;
    top: 25%;
    left: 8%;
    border-radius: 15px;
    z-index: 1000;
    width: 2vh;
    height: 30vmax;
    display: grid;
    backdrop-filter:  blur(7px);
    grid-auto-flow: row;
    background-color: rgba(0, 0, 0, 0.315);
}

.scroller button {
    width: 100%;
    height: 7vmax;
    border-radius: 15px;
    background-color: #5c34ebad;
    backdrop-filter: blur(15px)
}
.scroller button:hover {
    background-color: rgb(199, 143, 255);
}
.contacts {
    width: 5vh;
    height: 30vmax;
    position: fixed;
    z-index: 1000;
    left: 90%;
    top: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts a img {
    width: 100%;
}

@media screen and (max-width: 640px){
    .myService {
        width: 30vmax;
        margin: 1%;
    }
    .dropMenu {
        display: grid;
    }
    #dropBtn {
        background-color: transparent;
        width: 2em;
        margin-top: 5%;
        height: 2.5vh;
        text-align: right;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2000;
        justify-content: space-around;
    }
    .scroller, .contacts {
        display: none;
    }
}
@media screen and (max-width: 950px){
    .scroller, .contacts{
        display: none;
    }
    .myService {
        margin: 1%;
    }
}
