
@font-face {
  font-family: arual;
  src: url(./fonts/arual.ttf);
}
@font-face {
  font-family: nano;
  src: url(./fonts/nano.ttf);
}
@font-face {
  font-family: existence;
  src: url(./fonts/Existence-UnicaseLight.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  user-select: none;
  position: relative;
}
html, body {
  font-family: existence;
  font-size: 1.15em;
  background: url(./images/background.png);
  background-size: 100% 100%;
  background-position: center;
  background-position: fill;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
/** style all pages with id=page*/
#page {
  min-height: 50vmax;
  position: relative;
}
/** styling navigation bar*/
nav {
  width: 100%;
  min-height: 10vmin;
  height: fit-content;
  line-height: 10vmin;
  display: flex;
  justify-content: space-between;
}
nav h2 {
  font-family: nano;
  font-size: 2em;
}
nav .contacts {
  width: 30vmax;
  display: flex;
  justify-content: space-around;
}
nav .contacts img {
  width: 1.5em;
}
nav .contacts a{
  text-decoration: none;
}
nav .pageNav {
  width: 20vmax;
  display: block;
  align-content: space-between;
}
nav .pageNav button {
  width: 8vmax;
  height: 5vmin;
  font-size: 0.8em;
  background-color: transparent;
  margin: 5%;
  transition: background-image 1s, transform 0.02s;
}
button:hover {
  background-image: linear-gradient(45deg, #FFB546, #FF4658);
  transform: scale(1.02);
}
#drop, #pageNav {
  display: none;
  margin-top: -4%;
}

/** styling landing page text*/
.landingTxt {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}
.landingTxt h1 {
  font-family: arual;
  font-size: 4.8em;
  position: relative;
  z-index: 100;
  text-shadow: -8px 8px 8px black;
}
.landingTxt h1 div{
  background-color: white;
  width: 30%;
  height: 0.9em;
  position: absolute;
  margin-top: 3%;
  border-radius: 15px;
  z-index: -1;
  margin-left: 20%;
}
.landingTxt article {
  width: 60%;
}
.landingTxt button {
  background-color: rgb(45, 101, 255);
  width: 40vmin;
  height: 3em;
  margin-top: 5%;
  transition: transform 1s, background-image 1s;
}

/** shapes and their animations done here*/
#purpTri {
  width: 3em;
  position: absolute;
  margin-top: 20%;
  margin-left: 5%;
}
#redTri {
  width: 7em;
  position: absolute;
  margin-top: 14%;
  margin-left: 3%;
}
#orangeTri {
  width: 9em;
  position: absolute;
  margin-top: 7%;
  margin-left: 1%;
}
.orangeCirc {
  width: 2em;
  height: 2em;
  top: 60%;
  margin-left: 70%;
  position: absolute;
  border-radius: 50%;
  background-color: #FFB546;
}
.redCirc {
  width: 2.5em;
  height: 2.5em;
  top: 20%;
  margin-left: 80%;
  position: absolute;
  border-radius: 50%;
  background-color: #FF4658;
}
.greenCirc {
  width: 1.5em;
  height: 1.5em;
  top: 40%;
  margin-left: 90%;
  position: absolute;
  border-radius: 50%;
  background-color: #46DBC0;
}

/** styling portfolio page*/
.portfolio a{
  width: 10vmax;
  height: 2em;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
  line-height: 2em;
  background-color: #0D1117;
}
.list {
  width: 90%;
  min-height: 45vmin;
  height: 45vmin;
  margin-left: 5%;
}
.projectList {
  width: 90%;
  margin-left: 5%;
  min-height: 13em;
  height: 13em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #280034;
}
.list .nav {
  width: 90%;
  text-align: right;
  font-size: 1.5em;
  color: #FF4658;
}

.servicesList {
  width: 90%;
  height: max-content;
  margin: 5%;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
