@media only screen and (max-width: 640px){
    #page {
        min-height: 100vmax;
    }
    nav .contacts, nav .pageNav {
        display: none;
    }
    .landingPage nav h2{
        font-size: 2.4em;
    }
    /** styuling landing page text*/
    .landingTxt {
        margin-top: 60%;
        width: 95%;
        margin-left: 2.5%;
    }
    .landingTxt h1 {
        font-size: 4em;
    }
    .landingTxt h1 div {
        height:inherit;
    }
    .landingTxt article {
        width: 90%;
        z-index: 100;
    }
    /** shapes and animation responsiveness */
    #purpTri {
        top: 12%;
    }
    #redTri {
        top: 6%;
    }
    #orangeTri {
        top: 0%;
    }

    #drop {
        display: block;
        width: 10vmax;
        background-color: transparent;
        font-size: 1.2em;
    }
    #drop:hover{
        background-color: transparent;
        transform: scale(1);
    }
    /** styling portfolio responsiveness*/
    .portfolio a {
        margin: 0;
    }
    .list {
        height: auto;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 5%;
    }
    .projectList {
        height: auto;
        width: 100%;
        margin: 0;
    }

    /** styling hire me*/

}