@media only screen and (max-width: 640px){
   #page {
       height: max-content !important;
       margin-bottom: 10%;
   }
   html, body {
       background: url(./images/phoneBg.png);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-attachment: fixed;
       overflow: auto;
   }
   h1 {
       font-size: 2em;
   }
   #navs{
       display: none;
   }
   .landingPage {
       height: fit-content !important;
   }
   .landingCont, #others {
       grid-auto-flow: row;
   }
   .landingCont {
       margin-top: 50%;
       width: 90%;
       margin-left: 5%;
   }
   .dp {
       width: 12em;
       height: 12em;
       margin-left: auto;
       margin-right: auto;
   }
   article {
       text-align: center;
       width: 100%;
   }
   .projectList {
       flex-direction: column;
   }
   form {
       width: 20em;
   }
   #others {
       width: 20em;
       height: max-content;
       row-gap: 4%;
   }
   #others a {
       margin-left: 5em;
   }
}

@media only screen and (max-width: 950px) {
    html, body {
        overflow: auto;
    }
    .landingPage {
        height: fit-content !important;
    }
    .dp {
        width: 10em;
        height: 10em;
    }
}